.header{
    background: #0C0D2EE5;
    height: 82px;
    position: relative;
}
.header__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__wrap-items-list{
    display: flex;
    align-items: center;
    gap: 24px;
}
.header__wrap-items-list-item-link{
    color: white;
    transition: .5s linear;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.header__wrap-items-list-item-link:hover{
    color: #189CE8;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
}
.header__wrap-items-list-item-link-btn{
    background: #0C0D2EE5;
    color: white;
    width: 164px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.banner__img{
    position: absolute;
    z-index: -1;
    top: 0;
}
