.price{
    background:#010225 ;
}
.price__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.price__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 100%;
}
.price__title-logo{
    color: #159BE8; 
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 28px;
}
.price__title-txt{
    max-width: 645px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 8px;
}
.price__title-text{
    max-width: 699px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.price__component{
    color: white;
    display: flex;
    max-width: 275px;
    width: 100%;
    justify-self: space-between;
    align-items: center;
}
.price__component_txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.price__inp{
    width: 46px;
    height: 22px;
    border-radius: 20px;
    border: 1px solid #159BE833;
    background: #212250;
}
.switc__input{
    background: white;
    position: relative;
    width: 20px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    border-radius: 20px;
    border: none;
}
.price__save{
    padding-left:20px ;
}
.price__desc{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50PX;
}
.price__card{
    border-top: 4px solid #159BE8;
    box-shadow: 1px 1px 10px 0px #0000000D;
    background: #0C0D2E;
    border-radius: 4px ;
    max-height: 415px;
    max-width: 369px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s linear;
    transform: translateX(0%);
    margin-bottom: 60px;
}
.price__card:last-child{
    border-top: 4px solid #7C44E2;
    box-shadow: 1px 1px 10px 0px #0000000D;
    background: #0C0D2E;
    border-radius: 4px ;
    max-height: 415px;
    max-width: 369px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s linear;
    transform: translateY(0%);
}
.price__card:nth-child(2){
    box-shadow: 1px 1px 10px 0px #0000000D;
    border-top: 4px solid #F95B74;
    background: #0C0D2E;
    border-radius: 4px ;
    max-height: 415px;
    max-width: 369px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s linear;
    transform: translateY(0%);
}
.price__card:hover{
    border-top: 4px solid LawnGreen;
    width: 100%;
    transform: translateY(3%);
}
.price__card-logo{
    margin-top: 60px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    color: white;
    margin-bottom: 40px;
}
.price__card-banner{
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 32px;
}
.price__card-txt{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
    margin-bottom: 31px;
}
.proce__card-btn{
    background: #0C0D2EE5;
    color: white;
    width: 164px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 40px;
}
